<!DOCTYPE html>
<html>
<head>
<title>Register</title>
</head>
<body>

<h1>Register Here:</h1>
<form action="/register/" method="post">
    {% csrf_token %}
    <label for="name">Name:</label><br>
    <input type="text" name="name" id="name"><br>

    <label for="phone">Phone:</label><br>
    <input type="text" name="phone" id="phone "><br>

    <label for="password">Password:</label><br>
    <input type="text" name="password" id="password"><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>